/* LoginPage.css */
.login-page {
    background-color: #f8f9fa;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.login-button {
    height: 50px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    background-color: olivedrab;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.login-button:hover {
    background-color: darkolivegreen;
}
